# Ignore Database Data
data/

# Ignore Java Build Files
target/
*.class

# Ignore IDE Settings
.idea/
*.iml

# Ignore OS Files
.DS_Store
Thumbs.db


# Python
venv/
__pycache__/
*.pyc

# Outputs
parser/output/

# OS junk
.DS_Store

